.contacts{
  &__wrapper{
    height: 550px;
    display: flex;
  }

  &__contact-block{
    width: 50%;
    padding-bottom: 60px;
    padding-top: 55px;
    background: url("/img/contacts_bg.jpg") no-repeat left bottom;
    background-size: cover;
  }

  &__contact-block-wrapper{
    padding: 0 20px 0 40px;
    max-width: 450px;
    margin-left: auto;
  }

  &__title{
    max-width: 280px;
    font-size: 40px;
    line-height: 1.25;
    color: #ffffff;
  }

  &__address{
    position: relative;
    margin-top: 55px;
    padding-left: 35px;
    line-height: 1.5;
    color: #ffffff;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      width: 18px;
      height: 23px;
      background-image: url('/img/location.png');
    }
  }

  &__phone{
    position: relative;
    margin-top: 20px;
    padding-left: 40px;
    font-size: 18px;
    color: #ffffff;

    &::before{
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url('/img/phone.png');
    }
  }

  &__text{
    margin-top: 35px;
    max-width: 310px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.571428571;
    font-weight: 300;
    font-style: italic;
  }

  &__work-time{
    margin-top: 40px;
  }

  &__work-time-title{
    color: #ffffff;
  }

  &__work-time-text{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.2222;
    color: #e3c470;
  }

  &__map-wrapper{
    width: 50%;
    height: 100%;
  }

  &__map{
    height: 100%;
    width: 100%;
  }
}

.leaflet-marker-shadow{
  max-width: none;
}

.contact-popup{
  position: relative;

  &__wrapper{
    position: absolute;
    //transform: translate(-100px, -90px);
    transform: translate(-150px, -55px);
    width: 165px;
    box-sizing: border-box;
    padding: 20px 0 25px;
    font-weight: 500;
    text-align: center;
    color: #232323;
    background: #ffffff;
    box-shadow: 5px 5px 29px rgba(0, 0, 0, 0.31);

    &::before{
      content: "";
      position: absolute;
      background-color: #ffffff;
      right: -10px;
      bottom: 32px;
      width: 20px;
      height: 20px;
      z-index: -2;
      transform: rotate(45deg);
      box-shadow: 5px -5px 29px rgba(0, 0, 0, 0.31);
    }

    &::after{
      content: '';
      position: absolute;
      width: 24px;
      height: 40px;
      bottom: 25px;
      right: 0;
      background-color: #ffffff;
    }
  }
}

.gm-style-iw{
  max-width: 320px!important;
  overflow: visible!important;
  left: -3px !important;
  top: 30px !important;

  &+div{
    display: none;
  }

  &>div{
    overflow: visible!important;
    &>div{
      overflow: visible!important;
    }
  }
}

.gm-style-pbc{
  z-index: 5 !important;
}

.gm-style{
  & > div:first-child{
    & > div:nth-child(3){
      & > div:first-child {
        & > div:nth-child(4){
          & > div:first-child {
            & > div:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}